.header{
}
.top-header{
    display: flex;
    flex-flow: row-reverse wrap;
    background: black;
}
.top-header button{
    margin: 5px 30px 5px 10px ;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: white;
    background: #8DC73F;
}
.top-header p{
    padding: 5px;
    margin: 5px 30px 0px 10px ;
    color: white;
}
.lower-header {
    display: flex;
    flex-flow: row wrap;
}
.logo{
}
.lower-header .logo img{
    width: 50%;
    height: auto;
    margin: 0px auto;
    padding-left: 10px;
}
.menu{
    
}
.menu ul{
    display: flex;
    flex-flow: row wrap;
    padding: 10px 10px;
    margin: 0px;
}
.menu ul li{
    padding: 0px 20px;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 5px 5px;
}
.menu ul li a{
text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    border-bottom: 5px solid	#FEBD19; 
}
.slider {
  width: 100%;
  height: 450px;
background-image:url('../images-1/slider/slider.png');
  background-size: 100% 100% ;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content:  center;
    max-width: 100%;
}
.slider .click-2{
    background: #FEBD19;
    margin: 5px 30px 100px 10px ;
    word-spacing: 5px;
    letter-spacing: 3px;
}
@media only screen and (max-width:1000px){
    .top-header{
        flex-flow: column wrap;
        align-content: center;
    }
    .lower-header{
    flex-direction: column;
    flex-wrap: nowrap;
    }
    .lower-header .logo img{
    padding: 0px 20%;
    }
    .menu ul{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    }
    .menu ul li{
    margin: 0px 0xp 5px 0px;
    }
    .slider{
         height: 200px;
    }
    .slider .click-2{
    margin: 5px 30px 40px 10px ;
    word-spacing: 2px;
    letter-spacing: 1px;
}
}




















