#projects{
    height: 200px;
    padding: 20px;
    background-color: 	#8DC73F; 
    padding: 10px 30px;
}
#projects>h1{
      text-align: center;
       color: white;
    font-size: 50px;
    margin: 0px;
}
#projects>form{
    margin: 10px 100px;
    padding: 10px 70px;
    width:1200px;
}
#projects>form>input[type="text"]{
     padding-right: 50px;
     margin-right: 50px;
    height: 25px;
    border-radius: 10px 10px;
    text-align: center;
    border-color: #FEBD19;
}
#projects>form>button[type="submit"]{
    height: 25px;
    border-radius: 5px 5px;
    box-shadow: 3px 3px 10px #FEBD19 ;
    color:  black;
    background: #FEBD19;
    width: 250px;
    word-spacing: 5px;
    letter-spacing: 5px;
}
#projects>form>input[type="text"]:focus{
    font-weight: bolder;
    font-size: 15px;
    color: #e0474c;
    letter-spacing: 2px;
}
#projects>form>button[type="submit"]:hover{
    font-weight: bolder;
    font-size: 15px;
      color: black;
}
#projects>p{
     color: white;
    text-align: center;
}